:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitle {
  font-size: 2rem;
}

@media (max-width: 400px) {
  .subtitle {
    font-size: 2.5rem;
  }
  .conteudo-desc {
    font-size: 1.6rem;
  }
}
